/* Start CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
}

textarea:not([rows]) {
  min-height: 10em;
}

:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

:target {
  scroll-margin-block-start: 5ex;
}
/* End CSS Reset */

/* Start Global Styles */
:root {
  /* Color Variables */
  --grey-950: #1d2026;
  --grey-500: #69707d;
  --grey-300: #c3cad9;
  --grey-100: #e4e9f2;
  --grey-50: #f6f8fd;
  --orange-500: #ff7e1b;
  --orange-300: #ffab6a;

  /* Font Variables */
  --text-preset-1: normal 700 2.75rem/3rem "Kumbh Sans", sans-serif;
  --text-preset-2: normal 700 1.75rem/2rem "Kumbh Sans", sans-serif;
  --text-preset-3-bold: normal 700 1rem/1.625rem "Kumbh Sans", sans-serif;
  --text-preset-3-regular: normal 400 1rem/1.625rem "Kumbh Sans", sans-serif;
  --text-preset-4: normal 400 0.9375rem/1.625rem "Kumbh Sans", sans-serif;
  --text-preset-5: normal 700 0.8125rem/1rem "Kumbh Sans", sans-serif;
  --text-preset-6: normal 700 0.75rem/0.9375rem "Kumbh Sans", sans-serif;

  /* Spacing Variables */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
}

body {
  position: relative;
  overflow-x: hidden;
  padding: 25px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-400);
  border-bottom: 1px solid var(--grey-100);
}

.header-left-side {
  display: flex;
  align-items: center;
  gap: var(--spacing-700);
}

.menu-open-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.logo-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-400);
}

.desktop-nav a {
  text-decoration: none;
  color: var(--grey-500);
  font: var(--text-preset-4);
}

.desktop-nav a:hover {
  color: var(--grey-950);
  text-decoration: underline;
  text-underline-offset: 48px;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--orange-500);
}

.header-right-side {
  display: flex;
  align-items: center;
  gap: var(--spacing-600);
}

.shopping-cart-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.user-avatar-container {
  width: 3.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 50%;
}
